{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% load humanize %}
{% load l10n %}

{% block content %}

<style>

    .card-dashboard{
        border:none;
        border-radius:16px;
        color:white;
        padding:10px;
    }

    .card-green{
        background:#2d3350;
        border-top:4px solid #84cc16;
    }

    .card-blue{
        background:#1d4376;
        border-top:4px solid #3b82f6;
    }

    .card-purple{
        background:#44205f;
        border-top:4px solid #d946ef;
    }

    .card-number{
        font-size:60px;
        font-weight:800;
    }

    .quick-card{
        border-radius:14px;
        border:none;
    }

    table{
        background:white;
    }

    .nav-link2{
        position:relative;
        color:rgb(68, 66, 66);
        transition:0.3s;
    }

    .action-link{
        text-decoration:none;
        border-radius:12px;
        padding:10px;
        display:block;
        transition:0.3s;
    }

    .action-link:hover{
        background:#f3f4f6;
        transform:translateY(-3px);
        box-shadow:0 8px 20px rgba(128, 133, 209, 0.1);
    }

     .status-badge{
        padding:6px 12px;
        border-radius:8px;
        font-size:12px;
        font-weight:600;
    }

    .status-aberto{
        background:#dcfce7;
        color:#166534;
    }

    .status-finalizado{
        background:#e0e7ff;
        color:#3730a3;
    }

    .status-cancelado{
        background:#fee2e2;
        color:#991b1b;
    }


</style>


    <div class="container-fluid p-4">

        

        <div class="mb-4">

            <h1 class="fw-bold">
                Dashboard
            </h1>

            <p class="text-muted">
                Visão geral do sistema
            </p>

        </div>

        <div class="row g-4 mb-4">

            <div class="col-md-4">

                <div class="card card-dashboard card-green">

                    <div class="card-body">

                        <small>
                            VEÍCULOS
                        </small>
                         <div class="d-flex align-items-center gap-3">
                             <div class="card-number">
                                {{ total_veiculos }}
                             </div>
                              <h3 class="mb-0">
                                    Total de Ativos
                              </h3>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card card-dashboard card-blue">

                    <div class="card-body">

                        <small>
                            REGISTROS
                        </small>
                        <div class="d-flex align-items-center gap-3">
                             <div class="card-number">
                                {{ total_registros }}
                             </div>
                              <h3 class="mb-0">
                                    Total de Abertos
                              </h3>
                        </div>
                       

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card card-dashboard card-purple">

                    <div class="card-body">

                        <small>
                            SERVIDORES
                        </small>
                        <div class="d-flex align-items-center gap-3">
                            <div class="card-number">
                                {{ total_servidores }}
                            </div>
                            <h3 class="mb-0">
                                Total de Ativos
                            </h3>
                        </div>
                       

                    </div>

                </div>

            </div>

        </div>

        <!-- AÇÕES -->
        <div class="row g-4 mb-4">

            
            <h6>Ações Rápidas</h6>
            <div class="col-md-2">

                <div class="card quick-card shadow-sm">

                    <div class="card-body">

                        <a class="nav-link2 action-link d-flex align-items-center gap-3"
                        href="/veiculos/novo/">

                            <i class="bi bi-plus-square-fill fs-2" style="color:#001479"></i>

                            <div>

                                <h5>
                                    Novo Veículo
                                </h5>

                                <p class="text-muted mb-0">
                                    Adicionar à frota
                                </p>

                            </div>

                        </a>

                    </div>

                </div>

            </div>

          

            <div class="col-md-2">

                <div class="card quick-card shadow-sm">

                    <div class="card-body">

                        <a class="nav-link2 action-link d-flex align-items-center gap-3"
                        href="/servidor/novo/">

                            <i class="bi bi-plus-square-fill fs-2" style="color:#001479"></i>

                            <div>

                                <h5>
                                    Novo Servidor
                                </h5>

                                <p class="text-muted mb-0">
                                    Cadastrar Servidor
                                </p>

                            </div>

                        </a>

                    </div>

                </div>

            </div>

        </div>

        <!-- TABELA -->

        <div class="card border-0 shadow-sm">

            <div class="card-body">

                <div class="d-flex justify-content-between mb-3">

                    <h6 class="text-muted">
                        ÚLTIMOS REGISTROS
                    </h6>

                </div>

                <div class="table-responsive">

                    <table class="table align-middle">

                        <thead>

                            <tr>
                                <th style="color: #9ca3af">Servidor</th>
                                <th style="color: #9ca3af">Placa</th>
                                <th style="color: #9ca3af">Origem</th>
                                <th style="color: #9ca3af">Destino</th>
                                <th style="color: #9ca3af">Data Início</th>
                                <th style="color: #9ca3af">Status</th>
                                
                            </tr>

                        </thead>

                        <tbody>

                            {% for registro in registros %}

                            <tr>

                                <td>
                                    {{ registro.servidor.nome_servidor }}
                                </td>

                                <td class="text-primary fw-bold">
                                    {{ registro.veiculo.placa }}
                                </td>

                                <td>
                                    {{ registro.origem }}
                                </td>

                                <td>
                                    {{ registro.destino }}
                                </td>

                                <td >
                                    {{ registro.data_inicio}} 
                                </td>

                                <td>

                                    {% if registro.status == 'ABERTO' %}

                                        <span class="status-badge status-aberto">
                                            Aberto
                                        </span>

                                    {% elif registro.status == 'FINALIZADO' %}

                                        <span class="status-badge status-finalizado">
                                            Finalizado
                                        </span>

                                    {% else %}

                                    <span class="status-badge status-cancelado">
                                        Cancelado
                                    </span>

                                       
                                    {% endif %}

                                </td>

                            </tr>

                            {% empty %}

                            <tr>

                                <td colspan="5">
                                    Nenhum registro encontrado.
                                </td>

                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}